<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inus">

    <application
        android:allowBackup="true"
        android:icon="@drawable/success_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/success_logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.揪inus">
        <activity
            android:name="._finishEvent"
            android:exported="false" />
        <activity
            android:name="._timePicker"
            android:exported="false" />
        <activity
            android:name="._pickerfriends"
            android:exported="false" />
        <activity
            android:name="._group"
            android:exported="false" />
        <activity
            android:name="._addEvent"
            android:exported="false" />
        <activity
            android:name=".setting"
            android:exported="true" />
        <activity
            android:name=".Notification_screen"
            android:exported="true" />
        <activity
            android:name=".Talk_screen"
            android:exported="true" />
        <activity
            android:name=".Cart_screen"
            android:exported="true" />
        <activity
            android:name=".Shop_screen"
            android:exported="true" />
        <activity
            android:name=".register"
            android:exported="true" />
        <activity
            android:name=".Home_screen"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>